<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plus Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../../assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../../assets/css/demo_3/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="../../../assets/images/favicon.png" />
  </head>
  <body class="sidebar-icon-only sidebar-fixed">
    <div class="container-scroller">
      <!-- partial:../../partials/_horizontal-navbar.html -->
      <div class="horizontal-menu">
        <nav class="navbar top-navbar col-lg-12 col-12 p-0">
          <div class="container">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
              <a class="navbar-brand brand-logo" href="../../index.html">
                <img src="../../../assets/images/logo.svg" alt="logo" />
                <span class="font-12 d-block font-weight-light">Responsive Dashboard </span>
              </a>
              <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../../assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
              <ul class="navbar-nav mr-lg-2">
                <li class="nav-item nav-search d-none d-lg-block">
                  <div class="input-group">
                    <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                      <span class="input-group-text" id="search">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" id="navbar-search-input" placeholder="Search" aria-label="search" aria-describedby="search">
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                  <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <div class="nav-profile-img">
                      <img src="../../../assets/images/faces/face1.jpg" alt="image">
                    </div>
                    <div class="nav-profile-text">
                      <p class="text-black font-weight-semibold m-0">Olson jass</p>
                      <span class="font-13 online-color">online <i class="mdi mdi-chevron-down"></i></span>
                    </div>
                  </a>
                  <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                  </div>
                </li>
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                <span class="mdi mdi-menu"></span>
              </button>
            </div>
          </div>
        </nav>
        <nav class="bottom-navbar">
          <div class="container">
            <ul class="nav page-navigation">
              <li class="nav-item">
                <a class="nav-link" href="../../index.html">
                  <i class="mdi mdi-compass-outline menu-icon"></i>
                  <span class="menu-title">Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../pages/layout/rtl-layout.html">
                  <i class="mdi mdi-compass-outline menu-icon"></i>
                  <span class="menu-title">Rtl</span>
                </a>
              </li>
              <li class="nav-item mega-menu">
                <a href="#" class="nav-link">
                  <i class="mdi mdi-monitor-dashboard menu-icon"></i>
                  <span class="menu-title">UI Elements</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                  <div class="col-group-wrapper row">
                    <div class="col-group col-md-4">
                      <div class="row">
                        <div class="col-12">
                          <p class="category-heading">Basic Elements</p>
                          <div class="submenu-item">
                            <div class="row">
                              <div class="col-md-6">
                                <ul>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/accordions.html">Accordion</a></li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a>
                                  </li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/badges.html">Badges</a>
                                  </li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/breadcrumbs.html">Breadcrumbs</a></li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/dropdowns.html">Dropdown</a></li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/modals.html">Modals</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/progress.html">Progress bar</a></li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/pagination.html">Pagination</a></li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/tabs.html">Tabs</a>
                                  </li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a></li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/Tooltips.html">Tooltip</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-group col-md-4">
                      <div class="row">
                        <div class="col-12">
                          <p class="category-heading">Advanced Elements</p>
                          <div class="submenu-item">
                            <div class="row">
                              <div class="col-md-6">
                                <ul>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/dragula.html">Dragula</a>
                                  </li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/carousel.html">Carousel</a>
                                  </li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/clipboard.html">Clipboard</a></li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/context-menu.html">Context Menu</a></li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/loaders.html">Loader</a>
                                  </li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/slider.html">Slider</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-md-6">
                                <ul>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/popups.html">Popup</a>
                                  </li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/notifications.html">Notification</a></li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/colcade.html">Copcade</a>
                                  </li>
                                  <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/treeview.html">Treeview</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-group col-md-4">
                      <p class="category-heading">Icons</p>
                      <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="../../pages/icons/flag-icons.html">Flag Icons</a></li>
                        <li class="nav-item"> <a class="nav-link" href="../../pages/icons/mdi.html">Mdi icons</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/icons/font-awesome.html">Font Awesome</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/icons/simple-line-icon.html">Simple Line Icons</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/icons/themify.html">Themify Icons</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="mdi mdi-clipboard-text menu-icon"></i>
                  <span class="menu-title">Forms</span>
                  <i class="menu-arrow"></i></a>
                <div class="submenu">
                  <ul class="submenu-item">
                    <li class="nav-item"><a class="nav-link" href="../../pages/forms/basic_elements.html">Basic Elements</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/forms/advanced_elements.html">Advanced Elements</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/forms/validation.html">Validation</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/forms/wizard.html">Wizard</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/forms/text_editor.html">Text Editor</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/forms/code_editor.html">Code Editor</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item mega-menu">
                <a href="#" class="nav-link">
                  <i class="mdi mdi-chart-bar menu-icon"></i>
                  <span class="menu-title">Data</span>
                  <i class="menu-arrow"></i></a>
                <div class="submenu">
                  <div class="col-group-wrapper row">
                    <div class="col-group col-md-6">
                      <p class="category-heading">Charts</p>
                      <div class="submenu-item">
                        <div class="row">
                          <div class="col-md-6">
                            <ul>
                              <li class="nav-item"><a class="nav-link" href="../../pages/charts/chartjs.html">Chart Js</a></li>
                              <li class="nav-item"><a class="nav-link" href="../../pages/charts/morris.html">Morris</a></li>
                              <li class="nav-item"><a class="nav-link" href="../../pages/charts/flot-chart.html">Flot</a></li>
                              <li class="nav-item"><a class="nav-link" href="../../pages/charts/google-charts.html">Google Chart</a></li>
                            </ul>
                          </div>
                          <div class="col-md-6">
                            <ul>
                              <li class="nav-item"><a class="nav-link" href="../../pages/charts/sparkline.html">Sparkline</a>
                              </li>
                              <li class="nav-item"><a class="nav-link" href="../../pages/charts/c3.html">C3 Chart</a></li>
                              <li class="nav-item"><a class="nav-link" href="../../pages/charts/chartist.html">Chartist</a></li>
                              <li class="nav-item"><a class="nav-link" href="../../pages/charts/justGage.html">JustGage</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-group col-md-3">
                      <p class="category-heading">Table</p>
                      <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="../../pages/tables/basic-table.html">Basic Table</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/tables/data-table.html">Data Table</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/tables/js-grid.html">Js-grid</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/tables/sortable-table.html">Sortable Table</a></li>
                      </ul>
                    </div>
                    <div class="col-group col-md-3">
                      <p class="category-heading">Maps</p>
                      <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="../../pages/maps/mapael.html">Mapael</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/maps/vector-map.html">Vector Map</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/maps/google-maps.html">Google Map</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item mega-menu">
                <a href="#" class="nav-link">
                  <i class="mdi mdi-content-copy menu-icon"></i>
                  <span class="menu-title">Pages</span>
                  <i class="menu-arrow"></i></a>
                <div class="submenu">
                  <div class="col-group-wrapper row">
                    <div class="col-group col-md-2">
                      <p class="category-heading">User Pages</p>
                      <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/login.html">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/login-2.html">Login 2</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/register.html">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/register-2.html">Register 2</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/multi-level-login.html">Multi-level-login</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/lock-screen.html">Lockscreen</a></li>
                      </ul>
                    </div>
                    <div class="col-group col-md-2">
                      <p class="category-heading">Error Pages</p>
                      <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/error-404.html">404</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/error-500.html">500</a></li>
                      </ul>
                    </div>
                    <div class="col-group col-md-3">
                      <p class="category-heading">E-commerce</p>
                      <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/email-template.html">Email-template</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/invoice.html">Invoice</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/pricing-table.html">Pricing Table</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/product-catalogue.html">Product-catalogue</a></li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/project-list.html">Project list</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="../../pages/samples/orders.html">Orders</a></li>
                      </ul>
                    </div>
                    <div class="col-group col-md-5">
                      <p class="category-heading">General</p>
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="submenu-item">
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/search-results.html">Search Results</a></li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/profile.html">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/timeline.html">Timeline</a></li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/news-grid.html">News grid</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/portfolio.html">Portfolio</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/faq.html">FAQ</a></li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul>
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/faq-2.html">FAQ-2</a></li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/blank-page.html">Blank page</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/landing-page.html">Landing page</a></li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/samples/user-listing.html">User listing</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="mdi mdi-webpack menu-icon"></i>
                  <span class="menu-title">Apps</span>
                  <i class="menu-arrow"></i></a>
                <div class="submenu">
                  <ul class="submenu-item">
                    <li class="nav-item"><a class="nav-link" href="../../pages/apps/kanban-board.html">Kanban board</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/apps/email.html">Email</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/apps/todo.html">Todo list</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/apps/calendar.html">Calendar</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/apps/gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/apps/widgets.html">Widgets</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/apps/tickets.html">Tickets</a></li>
                    <li class="nav-item"><a class="nav-link" href="../../pages/apps/chats.html">Chats</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="http://www.bootstrapdash.com/demo/Plus/jquery/documentation/documentation.html" class="nav-link" target="_blank">
                  <i class="mdi mdi-file-document-box menu-icon"></i>
                  <span class="menu-title">Docs</span></a>
              </li>
              <li class="nav-item">
                <div class=" nav-link d-flex">
                  <button class="btn btn-sm bg-danger text-white">Trailing</button>
                  <div class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle text-white font-weight-semibold" id="notificationDropdown" href="#" data-toggle="dropdown"> English </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                      <a class="dropdown-item" href="#">
                        <i class="flag-icon flag-icon-bl mr-3"></i> French </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">
                        <i class="flag-icon flag-icon-cn mr-3"></i> Chinese </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">
                        <i class="flag-icon flag-icon-de mr-3"></i> German </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">
                        <i class="flag-icon flag-icon-ru mr-3"></i>Russian </a>
                    </div>
                  </div>
                  <a class="text-white" href="../../index.html"><i class="mdi mdi-home-circle"></i></a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-secondary py-3 mb-4 text-center d-md-none aside-toggler"><i class="mdi mdi-menu mr-0 icon-md"></i></button>
                <div class="card chat-app-wrapper">
                  <div class="row mx-0">
                    <div class="col-lg-3 col-md-4 chat-list-wrapper px-0">
                      <div class="sidebar-spacer">
                        <div class="input-group chat-search-input">
                          <input type="text" class="form-control" placeholder="Search Inbox" aria-label="Username">
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="mdi mdi-magnify"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="chat-list-item-wrapper">
                        <div class="list-item">
                          <div class="profile-image">
                            <div class="dot-indicator sm bg-success"></div>
                            <img class="img-sm rounded-circle" src="../../../assets/images/faces/face1.jpg" alt="">
                          </div>
                          <p class="user-name">Peter Moore</p>
                          <p class="chat-time">30min ago</p>
                          <p class="chat-text">Hello everyone, Iam happy to share with you our new company goals..</p>
                        </div>
                        <div class="list-item">
                          <div class="profile-image">
                            <div class="dot-indicator sm bg-primary"></div>
                            <img class="img-sm rounded-circle" src="../../../assets/images/faces/face5.jpg" alt="">
                          </div>
                          <p class="user-name">Lillian Woods</p>
                          <p class="chat-time">1 day ago</p>
                          <p class="chat-text">Hello jessica, i will b ein london tomorrow, hope we can meer there</p>
                        </div>
                        <div class="list-item">
                          <div class="profile-image">
                            <div class="dot-indicator sm bg-primary"></div>
                            <img class="img-sm rounded-circle" src="../../../assets/images/faces/face2.jpg" alt="">
                          </div>
                          <p class="user-name">Christina Love</p>
                          <p class="chat-time">2 days ago</p>
                          <p class="chat-text">Can you prep the File?</p>
                        </div>
                        <div class="list-item">
                          <div class="profile-image">
                            <div class="dot-indicator sm bg-warning"></div>
                            <img class="img-sm rounded-circle" src="../../../assets/images/faces/face10.jpg" alt="">
                          </div>
                          <p class="user-name">Mabelle King</p>
                          <p class="chat-time">3 days ago</p>
                          <p class="chat-text">A new feature has been updated your account.Check it out…</p>
                        </div>
                        <div class="list-item">
                          <div class="profile-image">
                            <img class="img-sm rounded-circle" src="../../../assets/images/faces/face7.jpg" alt="">
                          </div>
                          <p class="user-name">Brandon Norton</p>
                          <p class="chat-time">4 days ago</p>
                          <p class="chat-text">Hello, this is an invitation from one of the most interesting teams... </p>
                        </div>
                      </div>
                      <div class="sidebar-spacer">
                        <button class="btn btn-block btn-success py-3" type="button">+ New Chat</button>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-8 px-0 d-flex flex-column">
                      <div class="chat-container-wrapper">
                        <div class="chat-bubble incoming-chat">
                          <div class="chat-message">
                            <p>Leo duis ut diam quam nulla porttitor massa id neque. Sed enim ut sem viverra aliquet eget sit. Aenean et tortor at risus viverra.</p>
                            <p>Mi in nulla posuere sollicitudin aliquam ultrices. Mauris a diam maecenas sed enim. Facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris. In cursus turpis massa tincidunt dui. Mattis vulputate enim nulla aliquet porttitor lacus.</p>
                          </div>
                          <div class="sender-details">
                            <img class="sender-avatar img-xs rounded-circle" src="../../../assets/images/faces/face2.jpg" alt="profile image">
                            <p class="seen-text">Message seen : 20 min ago</p>
                          </div>
                        </div>
                        <div class="chat-bubble outgoing-chat">
                          <div class="chat-message">
                            <p class="font-weight-bold">Frank Carter</p>
                            <p>Leo duis ut diam quam nulla porttitor massa id neque. Sed enim ut sem</p>
                          </div>
                          <div class="sender-details">
                            <img class="sender-avatar img-xs rounded-circle" src="../../../assets/images/faces/face3.jpg" alt="profile image">
                            <p class="seen-text">Message seen : 10 min ago</p>
                          </div>
                        </div>
                        <div class="chat-bubble incoming-chat">
                          <div class="chat-message">
                            <p class="font-weight-bold">Frank Carter</p>
                            <p>Mi in nulla posuere sollicitudin aliquam ultrices. Mauris a diam maecenas sed enim. Facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris.</p>
                          </div>
                          <div class="sender-details">
                            <img class="sender-avatar img-xs rounded-circle" src="../../../assets/images/faces/face2.jpg" alt="profile image">
                            <p class="seen-text">Message seen : 8 min ago</p>
                          </div>
                        </div>
                        <div class="chat-bubble outgoing-chat">
                          <div class="chat-message">
                            <p class="font-weight-bold">Frank Carter</p>
                            <p>Leo duis ut diam quam nulla porttitor massa id neque. Sed enim ut sem</p>
                            <p class="font-weight-semibold"><i class="mdi mdi-paperclip mr-2"></i>workfile.pdf</p>
                          </div>
                          <div class="sender-details">
                            <img class="sender-avatar img-xs rounded-circle" src="../../../assets/images/faces/face3.jpg" alt="profile image">
                            <p class="seen-text">Message seen : 10 min ago</p>
                          </div>
                        </div>
                      </div>
                      <div class="chat-text-field mt-auto">
                        <form action="#">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <button type="button" class="input-group-text"><i class="mdi mdi-emoticon-happy-outline icon-sm"></i></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Type a message here">
                            <div class="input-group-append">
                              <button type="button" class="input-group-text"><i class="mdi mdi-paperclip icon-sm"></i></button>
                            </div>
                            <div class="input-group-append">
                              <button type="submit" class="input-group-text"><i class="mdi mdi-send icon-sm"></i></button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="col-lg-3 d-none d-lg-block px-0 chat-sidebar">
                      <img class="img-fluid w-100" src="../../../assets/images/chat/profile_image.jpg" alt="profile image">
                      <div class="px-4">
                        <div class="d-flex pt-4">
                          <div class="wrapper">
                            <h5 class="font-weight-semibold mb-0 ellipsis">Cecelia Benson</h5>
                            <p class="mb-0 text-muted ellipsis">General manager</p>
                          </div>
                          <div class="badge badge-success mb-auto ml-auto">Online</div>
                        </div>
                        <div class="pt-3">
                          <div class="d-flex align-items-center py-1">
                            <i class="mdi mdi-whatsapp mr-2"></i>
                            <p class="mb-0 font-weight-semibold">225-248-4861</p>
                          </div>
                          <div class="d-flex align-items-center py-1">
                            <i class="mdi mdi-email-outline mr-2"></i>
                            <p class="mb-0 font-weight-semibold ellipsis">cecilia.tromp@danny.com</p>
                          </div>
                          <div class="d-flex align-items-center py-1">
                            <i class="mdi mdi-map-marker-outline mr-2"></i>
                            <p class="mb-0 font-weight-semibold ellipsis">United Kingdom</p>
                          </div>
                        </div>
                        <div class="list-item">
                          <div class="d-flex align-items-center justify-content-center img-sm badge-success">
                            <i class="mdi mdi-cash-multiple icon-sm"></i></div>
                          <div class="wrapper pl-3">
                            <h5 class="font-weight-semibold mb-0">$2300</h5>
                            <p class="text-muted mb-0">Deposit</p>
                          </div>
                        </div>
                        <div class="list-item">
                          <div class="d-flex align-items-center justify-content-center img-sm badge-danger">
                            <i class="mdi mdi-cash-multiple icon-sm"></i></div>
                          <div class="wrapper pl-3">
                            <h5 class="font-weight-semibold mb-0">$2300</h5>
                            <p class="text-muted mb-0">Deposit</p>
                          </div>
                        </div>
                        <div class="list-item border-bottom-0">
                          <div class="d-flex align-items-center justify-content-center img-sm badge-info">
                            <i class="mdi mdi-cash-multiple icon-sm"></i></div>
                          <div class="wrapper pl-3 w-100">
                            <h5 class="font-weight-semibold mb-0">$2300</h5>
                            <div class="d-flex">
                              <p class="text-muted mb-0">Deposit</p>
                              <p class="font-weight-bold ml-auto">4.7 GB free</p>
                            </div>
                          </div>
                        </div>
                        <h5 class="font-weight-semibold mt-3">Documentation</h5>
                        <div class="list-item">
                          <div class="d-flex align-items-center justify-content-center img-sm badge-primary">
                            <i class="mdi mdi-file-pdf icon-sm"></i></div>
                          <div class="wrapper pl-3 w-100">
                            <h5 class="font-weight-semibold mb-0 ellipsis">Company Profile.pdf</h5>
                            <div class="d-flex">
                              <p class="text-muted mb-0">456.54 KB</p>
                              <i class="mdi mdi-arrow-down-bold text-muted ml-auto"></i>
                            </div>
                          </div>
                        </div>
                        <div class="list-item">
                          <div class="d-flex align-items-center justify-content-center img-sm badge-primary">
                            <i class="mdi mdi-file-pdf icon-sm"></i></div>
                          <div class="wrapper pl-3 w-100">
                            <h5 class="font-weight-semibold mb-0 ellipsis">Proposal.pdf</h5>
                            <div class="d-flex">
                              <p class="text-muted mb-0">1360.54 KB</p>
                              <i class="mdi mdi-arrow-down-bold text-muted ml-auto"></i>
                            </div>
                          </div>
                        </div>
                        <h5 class="font-weight-semibold mt-5 mb-4">Share photos</h5>
                        <div class="row">
                          <div class="col-4">
                            <img class="w-100 img-fluid rounded" src="../../../assets/images/chat/thumb_image1.jpg" alt="image">
                          </div>
                          <div class="col-4">
                            <img class="w-100 img-fluid rounded" src="../../../assets/images/chat/thumb_image2.jpg" alt="image">
                          </div>
                          <div class="col-4">
                            <img class="w-100 img-fluid rounded" src="../../../assets/images/chat/thumb_image3.jpg" alt="image">
                          </div>
                        </div>
                        <div class="row my-4">
                          <div class="col-4">
                            <img class="w-100 img-fluid rounded" src="../../../assets/images/chat/thumb_image4.jpg" alt="image">
                          </div>
                          <div class="col-4">
                            <img class="w-100 img-fluid rounded" src="../../../assets/images/chat/thumb_image5.jpg" alt="image">
                          </div>
                          <div class="col-4">
                            <img class="w-100 img-fluid rounded" src="../../../assets/images/chat/thumb_image6.jpg" alt="image">
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col-4">
                            <img class="w-100 img-fluid rounded" src="../../../assets/images/chat/thumb_image7.jpg" alt="image">
                          </div>
                          <div class="col-4">
                            <img class="w-100 img-fluid rounded" src="../../../assets/images/chat/thumb_image8.jpg" alt="image">
                          </div>
                          <div class="col-4">
                            <img class="w-100 img-fluid rounded" src="../../../assets/images/chat/thumb_image4.jpg" alt="image">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container">
              <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
              </div>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../../assets/js/off-canvas.js"></script>
    <script src="../../../assets/js/hoverable-collapse.js"></script>
    <script src="../../../assets/js/misc.js"></script>
    <script src="../../../assets/js/settings.js"></script>
    <script src="../../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>