<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Plus Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../../assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="../../../assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="../../../assets/vendors/jquery-bar-rating/css-stars.css">
  <link rel="stylesheet" href="../../../assets/vendors/font-awesome/css/font-awesome.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="../../../assets/css/demo_3/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="../../../assets/images/favicon.png" />
</head>

<body class="rtl">
  <div class="container-scroller">
    <!-- horizontal-navbar starts here-->
    <div class="horizontal-menu">
      <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container">
          <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="../../index.html">
              <img src="../../../assets/images/logo.svg" alt="logo" />
              <span class="font-12 d-block font-weight-light">استجابة لوحة القيادة</span>
            </a>
            <a class="navbar-brand brand-logo-mini" href="../../index.html"><img
                src="../../../assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item nav-search d-none d-lg-block">
                <div class="input-group">
                  <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                    <span class="input-group-text" id="search">
                      <i class="mdi mdi-magnify"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" id="navbar-search-input" placeholder="بحث" aria-label="search"
                    aria-describedby="search">
                </div>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right pr-0">
              <li class="nav-item nav-profile dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                  <div class="nav-profile-img">
                    <img src="../../../assets/images/faces/face1.jpg" alt="image">
                  </div>
                  <div class="nav-profile-text">
                    <p class="text-black font-weight-semibold m-0">أولسون جاس</p>
                    <span class="font-13 online-color">عبر الانترنت <i class="mdi mdi-chevron-down"></i></span>
                  </div>
                </a>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="mdi mdi-cached mr-2 text-success"></i> سجل النشاطات </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> خروج </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
              data-toggle="horizontal-menu-toggle">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </div>
      </nav>
      <nav class="bottom-navbar">
        <div class="container">
          <ul class="nav page-navigation pr-0">
            <li class="nav-item border-0">
              <a class="nav-link" href="../../index.html">
                <i class="mdi mdi-compass-outline menu-icon"></i>
                <span class="menu-title">لوحة القيادة</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../pages/layout/rtl-layout.html">
                <i class="mdi mdi-file-restore menu-icon"></i>
                <span class="menu-title">ار تي ال</span>
              </a>
            </li>
            <li class="nav-item mega-menu">
              <a href="#" class="nav-link">
                <i class="mdi mdi-monitor-dashboard menu-icon"></i>
                <span class="menu-title">عناصر واجهة المستخدم</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="submenu">
                <div class="col-group-wrapper row">
                  <div class="col-group col-md-4">
                    <div class="row">
                      <div class="col-12">
                        <p class="category-heading">العناصر الأساسية</p>
                        <div class="submenu-item">
                          <div class="row">
                            <div class="col-md-6">
                              <ul>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/accordions.html">أكورديون</a></li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/buttons.html">وصفت</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/badges.html">شارات</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/breadcrumbs.html">فتات الخبز</a></li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/dropdowns.html">اسقاط</a></li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/modals.html">شرطية</a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-6">
                              <ul>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/progress.html">شريط التقدم</a></li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/pagination.html">ترقيم الصفحات</a></li>
                                <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/tabs.html">علامات
                                    التبويب</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/typography.html">طباعة</a></li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/Tooltips.html">تلميح</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-group col-md-4">
                    <div class="row">
                      <div class="col-12">
                        <p class="category-heading">عناصر متقدمة</p>
                        <div class="submenu-item">
                          <div class="row">
                            <div class="col-md-6">
                              <ul>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/dragula.html">Dragula</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/carousel.html">دائري</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/clipboard.html">الحافظة</a></li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/context-menu.html">قائمة السياق</a></li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/loaders.html">محمل</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/slider.html">المنزلق</a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-6">
                              <ul>
                                <li class="nav-item"><a class="nav-link" href="../../pages/ui-features/popups.html">يظهر
                                    فجأة</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/notifications.html">إعلام</a></li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/colcade.html">Copcade</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                    href="../../pages/ui-features/treeview.html">تريفيف</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-group col-md-4">
                    <p class="category-heading">الرموز</p>
                    <ul class="submenu-item">
                      <li class="nav-item"><a class="nav-link" href="../../pages/icons/flag-icons.html">علم
                          الأيقونات</a></li>
                      <li class="nav-item"> <a class="nav-link" href="../../pages/icons/mdi.html">رموز Mdi</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/icons/font-awesome.html">الخط رائع</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/icons/simple-line-icon.html">أيقونات خط
                          بسيط</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/icons/themify.html">Themify
                          الأيقونات</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-clipboard-text menu-icon"></i>
                <span class="menu-title">إستمارات</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="../../pages/forms/basic_elements.html">العناصر
                      الأساسية</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/forms/advanced_elements.html">عناصر
                      متقدمة</a></li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/forms/validation.html">التحقق من صحة</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/forms/wizard.html">ساحر</a></li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/forms/text_editor.html">محرر النص</a></li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/forms/code_editor.html">محرر الكود</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item mega-menu">
              <a href="#" class="nav-link">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">البيانات</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <div class="col-group-wrapper row">
                  <div class="col-group col-md-6">
                    <p class="category-heading">الرسوم البيانية</p>
                    <div class="submenu-item">
                      <div class="row">
                        <div class="col-md-6">
                          <ul>
                            <li class="nav-item"><a class="nav-link" href="../../pages/charts/chartjs.html">مخطط
                                شبيبة</a></li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/charts/morris.html">موريس</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/charts/flot-chart.html">Flot</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/charts/google-charts.html">مخطط
                                جوجل</a></li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <ul>
                            <li class="nav-item"><a class="nav-link" href="../../pages/charts/sparkline.html">خط
                                المؤشر</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="../../pages/charts/c3.html">الرسم البياني
                                C3</a></li>
                            <li class="nav-item"><a class="nav-link"
                                href="../../pages/charts/chartist.html">الشارتية</a></li>
                            <li class="nav-item"><a class="nav-link"
                                href="../../pages/charts/justGage.html">JustGage</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-group col-md-3">
                    <p class="category-heading">الطاولة</p>
                    <ul class="submenu-item">
                      <li class="nav-item"><a class="nav-link" href="../../pages/tables/basic-table.html">الجدول
                          الأساسي</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/tables/data-table.html">جدول
                          البيانات</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/tables/js-grid.html">شبيبة الشبكة</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/tables/sortable-table.html">جدول قابل
                          للفرز</a></li>
                    </ul>
                  </div>
                  <div class="col-group col-md-3">
                    <p class="category-heading">خرائط</p>
                    <ul class="submenu-item">
                      <li class="nav-item"><a class="nav-link" href="../../pages/maps/mapael.html">Mapael</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/maps/vector-map.html">ناقلات خريطة</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/maps/google-maps.html">خرائط جوجل</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item mega-menu">
              <a href="#" class="nav-link">
                <i class="mdi mdi-content-copy menu-icon"></i>
                <span class="menu-title">صفحات</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <div class="col-group-wrapper row">
                  <div class="col-group col-md-2">
                    <p class="category-heading">صفحات المستخدم</p>
                    <ul class="submenu-item">
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/login.html">تسجيل الدخول</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/login-2.html">تسجيل الدخول
                          2</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/register.html">تسجيل</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/register-2.html">سجل 2</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/multi-level-login.html">تسجيل
                          الدخول متعدد المستويات</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/lock-screen.html">اقفل
                          الشاشة</a></li>
                    </ul>
                  </div>
                  <div class="col-group col-md-2">
                    <p class="category-heading">صفحات خطأ</p>
                    <ul class="submenu-item">
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/error-404.html">404</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/error-500.html">500</a></li>
                    </ul>
                  </div>
                  <div class="col-group col-md-3">
                    <p class="category-heading">التجارة الإلكترونية</p>
                    <ul class="submenu-item">
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/email-template.html">البريد
                          الإلكتروني قالب</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/invoice.html">فاتورة</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/pricing-table.html">جدول
                          التسعير</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/product-catalogue.html">كتالوج
                          المنتج</a></li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/project-list.html">قائمة
                          المشروع</a>
                      </li>
                      <li class="nav-item"><a class="nav-link" href="../../pages/samples/orders.html">أوامر</a></li>
                    </ul>
                  </div>
                  <div class="col-group col-md-5">
                    <p class="category-heading">جنرال لواء</p>
                    <div class="row">
                      <div class="col-md-6">
                        <ul class="submenu-item">
                          <li class="nav-item"><a class="nav-link" href="../../pages/samples/search-results.html">نتائج
                              البحث</a></li>
                          <li class="nav-item"><a class="nav-link" href="../../pages/samples/profile.html">الملف
                              الشخصي</a></li>
                          <li class="nav-item"><a class="nav-link" href="../../pages/samples/timeline.html">الجدول
                              الزمني</a></li>
                          <li class="nav-item"><a class="nav-link" href="../../pages/samples/news-grid.html">شبكة
                              الأخبار</a>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="../../pages/samples/portfolio.html">محفظة</a>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="../../pages/samples/faq.html">التعليمات</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <ul>
                          <li class="nav-item"><a class="nav-link" href="../../pages/samples/faq-2.html">التعليمات-2</a>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="../../pages/samples/blank-page.html">صفحة
                              فارغة</a>
                          </li>
                          <li class="nav-item"><a class="nav-link" href="../../pages/samples/landing-page.html">الصفحة
                              المقصودة</a></li>
                          <li class="nav-item"><a class="nav-link" href="../../pages/samples/user-listing.html">قائمة
                              المستخدم</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="mdi mdi-webpack menu-icon"></i>
                <span class="menu-title">التطبيقات</span>
                <i class="menu-arrow"></i></a>
              <div class="submenu">
                <ul class="submenu-item">
                  <li class="nav-item"><a class="nav-link" href="../../pages/apps/kanban-board.html">مجلس كانبان</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/apps/email.html">البريد الإلكتروني</a></li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/apps/todo.html">عمل قائمة</a></li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/apps/calendar.html">التقويم</a></li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/apps/gallery.html">صالة عرض</a></li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/apps/widgets.html">الحاجيات</a></li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/apps/tickets.html">تذاكر</a></li>
                  <li class="nav-item"><a class="nav-link" href="../../pages/apps/chats.html">دردشات</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a href="http://www.bootstrapdash.com/demo/Plus/jquery/documentation/documentation.html" class="nav-link"
                target="_blank">
                <i class="mdi mdi-file-document-box menu-icon"></i>
                <span class="menu-title">مستندات</span></a>
            </li>
            <li class="nav-item">
              <div class=" nav-link d-flex">
                <button class="btn btn-sm bg-danger text-white">زائدة</button>
                <div class="nav-item dropdown">
                  <a class="nav-link count-indicator dropdown-toggle text-white font-weight-semibold"
                    id="notificationDropdown" href="#" data-toggle="dropdown"> الإنجليزية </a>
                  <div class="dropdown-menu dropdown-menu-right text-right navbar-dropdown preview-list"
                    aria-labelledby="notificationDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="flag-icon flag-icon-bl ml-3"></i> الفرنسية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="flag-icon flag-icon-cn ml-3"></i> صينى </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="flag-icon flag-icon-de ml-3"></i> ألمانية </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <i class="flag-icon flag-icon-ru ml-3"></i>الروسية </a>
                  </div>
                </div>
                <a class="text-white" href="../../index.html"><i class="mdi mdi-home-circle"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- ends here -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper pb-0">
          <div class="page-header flex-wrap">
            <div class="header-left">
              <button class="btn btn-primary mb-2 mb-md-0 ml-2">إنشاء وثيقة جديدة</button>
              <button class="btn btn-outline-primary bg-white mb-2 mb-md-0">استيراد المستندات</button>
            </div>
            <div class="header-right d-flex flex-wrap mt-2 mt-sm-0">
              <div class="d-flex align-items-center">
                <a href="#" class="pl-3">
                  <p class="m-0 pr-3">لوحة القيادة</p>
                </a>
                <a class="pl-3 mr-4" href="#">
                  <p class="m-0">ADE-00234</p>
                </a>
              </div>
              <button type="button" class="btn btn-primary mt-2 mt-sm-0 btn-icon-text">
                <i class="mdi mdi-plus-circle"></i> أضف منتج </button>
            </div>
          </div>
          <!-- first row starts here -->
          <div class="row">
            <div class="col-xl-9 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between flex-wrap">
                    <div>
                      <div class="card-title mb-0">إيرادات المبيعات</div>
                      <h3 class="font-weight-bold mb-0">$32,409</h3>
                    </div>
                    <div>
                      <div class="d-flex flex-wrap pt-2 justify-content-between sales-header-right">
                        <div class="d-flex ml-5 mb-2">
                          <button type="button" class="btn btn-social-icon btn-outline-sales"><i
                              class="mdi mdi-inbox-arrow-down"></i></button>
                          <div class="pr-2">
                            <h4 class="mb-0 font-weight-semibold head-count">$8,217</h4>
                            <span class="font-10 font-weight-semibold text-muted">إجمالي المبيعات</span>
                          </div>
                        </div>
                        <div class="d-flex ml-3 mt-sm-0">
                          <button type="button" class="btn btn-social-icon btn-outline-sales profit"><i
                              class="mdi mdi-cash text-info"></i></button>
                          <div class="pr-2">
                            <h4 class="mb-0 font-weight-semibold head-count">2,804</h4>
                            <span class="font-10 font-weight-semibold text-muted">اجمالي الربح</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted font-13 mt-2 mt-sm-0">المبيعات الخاص بك قالب رصد لوحة القيادة. <a
                      class="text-muted font-13" href="#"><u>أعرف أكثر</u></a></p>
                  <div class="flot-chart-wrapper">
                    <div id="flotChart" class="flot-chart">
                      <canvas class="flot-base"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 stretch-card grid-margin">
              <div class="card card-img">
                <div class="card-body d-flex align-items-center">
                  <div class="text-white">
                    <h1 class="font-20 font-weight-semibold mb-0">إحصل على الأفضل</h1>
                    <h1 class="font-20 font-weight-semibold">الحساب!</h1>
                    <p>لتحسين المنتج بيع الخاص بك</p>
                    <p class="font-10 font-weight-semibold">استمتع بميزة قسط التأمين.</p>
                    <button class="btn bg-white font-12">إحصل على الأفضل</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- chart row starts here -->
          <div class="row">
            <div class="col-sm-6 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div class="card-title">الزبائن <small class="d-block text-muted">1 أغسطس - 31 أغسطس</small>
                    </div>
                    <div class="d-flex text-muted font-20">
                      <i class="mdi mdi-printer mouse-pointer"></i>
                      <i class="mdi mdi-help-circle-outline mr-2 mouse-pointer"></i>
                    </div>
                  </div>
                  <h3 class="font-weight-bold mb-0">2,409 <span class="text-success h5">4,5%<i
                        class="mdi mdi-arrow-up"></i></span></h3>
                  <span class="text-muted font-13">متوسط ​​العملاء / اليوم</span>
                  <div class="line-chart-wrapper">
                    <canvas id="linechart" height="80"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div class="card-title">التحويلات <small class="d-block text-muted">1 أغسطس - 31 أغسطس</small>
                    </div>
                    <div class="d-flex text-muted font-20">
                      <i class="mdi mdi-printer mouse-pointer"></i>
                      <i class="mdi mdi-help-circle-outline mr-2 mouse-pointer"></i>
                    </div>
                  </div>
                  <h3 class="font-weight-bold mb-0">0.40% <span class="text-success h5">0.20%<i
                        class="mdi mdi-arrow-up"></i></span></h3>
                  <span class="text-muted font-13">متوسط ​​العملاء / اليوم</span>
                  <div class="bar-chart-wrapper">
                    <canvas id="barchart" height="80"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- image card row starts here -->
          <div class="row">
            <div class="col-sm-4 stretch-card grid-margin">
              <div class="card">
                <div class="card-body p-0">
                  <img class="img-fluid" src="../../../assets/images/dashboard/img_1.jpg" alt="">
                </div>
                <div class="card-body px-3 text-dark">
                  <div class="d-flex justify-content-between">
                    <p class="text-muted font-13 mb-0">شقة كاملة</p>
                    <i class="mdi mdi-heart-outline"></i>
                  </div>
                  <h5 class="font-weight-semibold">دافئ ستوديو شقة في لندن</h5>
                  <div class="d-flex justify-content-between font-weight-semibold">
                    <p class="mb-0"><i class="mdi mdi-star star-color pl-1"></i>4.60 (35)</p>
                    <p class="mb-0">$ 5267 / ليلة</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 stretch-card grid-margin">
              <div class="card">
                <div class="card-body p-0">
                  <img class="img-fluid" src="../../../assets/images/dashboard/img_2.jpg" alt="">
                </div>
                <div class="card-body px-3 text-dark">
                  <div class="d-flex justify-content-between">
                    <p class="text-muted font-13 mb-0">شقة كاملة</p>
                    <i class="mdi mdi-heart-outline"></i>
                  </div>
                  <h5 class="font-weight-semibold">فيكتوريا بيدسيت ستوديو</h5>
                  <div class="d-flex justify-content-between font-weight-semibold">
                    <p class="mb-0"><i class="mdi mdi-star star-color pl-1"></i>4.83 (12)</p>
                    <p class="mb-0">$ 6،144 / ليلة</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 stretch-card grid-margin">
              <div class="card">
                <div class="card-body p-0">
                  <img class="img-fluid" src="../../../assets/images/dashboard/img_3.jpg" alt="">
                </div>
                <div class="card-body px-3 text-dark">
                  <div class="d-flex justify-content-between">
                    <p class="text-muted font-13 mb-0">شقة كاملة</p>
                    <i class="mdi mdi-heart-outline"></i>
                  </div>
                  <h5 class="font-weight-semibold">غرفة ضخمة رائعة </h5>
                  <div class="d-flex justify-content-between font-weight-semibold">
                    <p class="mb-0"><i class="mdi mdi-star star-color pl-1"></i>3.83 (15)</p>
                    <p class="mb-0">$ 5267 / ليلة</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- table row starts here -->
          <div class="row">
            <div class="col-xl-4 grid-margin">
              <div class="card card-stat stretch-card mb-3">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div class="text-white">
                      <h3 class="font-weight-bold mb-0">$168.90</h3>
                      <h6>هذا الشهر</h6>
                      <div class="badge badge-danger">23%</div>
                    </div>
                    <div class="flot-bar-wrapper">
                      <div id="column-chart" class="flot-chart"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card stretch-card mb-3">
                <div class="card-body d-flex flex-wrap justify-content-between">
                  <div>
                    <h4 class="font-weight-semibold mb-1 text-black">ربح الأعضاء</h4>
                    <h6 class="text-muted">متوسط ​​الربح الأسبوعي</h6>
                  </div>
                  <h3 class="text-success font-weight-bold">+168.900</h3>
                </div>
              </div>
              <div class="card stretch-card mb-3">
                <div class="card-body d-flex flex-wrap justify-content-between">
                  <div>
                    <h4 class="font-weight-semibold mb-1 text-black">اجمالي الربح</h4>
                    <h6 class="text-muted">طلبات العملاء الأسبوعية</h6>
                  </div>
                  <h3 class="text-success font-weight-bold">+6890.00</h3>
                </div>
              </div>
              <div class="card mt-3">
                <div class="card-body d-flex flex-wrap justify-content-between">
                  <div>
                    <h4 class="font-weight-semibold mb-1 text-black">تقارير الاصدارات</h4>
                    <h6 class="text-muted">أخطاء النظام والقضايا</h6>
                  </div>
                  <h3 class="text-danger font-weight-bold">-8380.00</h3>
                </div>
              </div>
            </div>
            <div class="col-xl-8 stretch-card grid-margin">
              <div class="card">
                <div class="card-body pb-0">
                  <h4 class="card-title mb-0">مراجعة الإدارة المالية</h4>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table custom-table text-dark">
                      <thead>
                        <tr>
                          <th> اسم </th>
                          <th> سعر البيع </th>
                          <th> فعلي </th>
                          <th> فرق </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <img src="../../../assets/images/faces/face2.jpg" class="ml-2" alt="image"> يعقوب جنسن </td>
                          <td>
                            <div class="d-flex">
                              <span class="pl-2 d-flex align-items-center">85%</span>
                              <select id="star-1" name="rating" autocomplete="off">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </td>
                          <td> 32,435 </td>
                          <td> 40,234</td>
                        </tr>
                        <tr>
                          <td>
                            <img src="../../../assets/images/faces/face3.jpg" class="ml-2" alt="image"> سيسيليا برادلي
                          </td>
                          <td>
                            <div class="d-flex">
                              <span class="pl-2 d-flex align-items-center">55%</span>
                              <select id="star-2" name="rating" autocomplete="off">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </td>
                          <td> 4,36780 </td>
                          <td> 765728 </td>
                        </tr>
                        <tr>
                          <td>
                            <img src="../../../assets/images/faces/face4.jpg" class="ml-2" alt="image"> ليا شيرمان </td>
                          <td>
                            <div class="d-flex">
                              <span class="pl-2 d-flex align-items-center">23%</span>
                              <select id="star-3" name="rating" autocomplete="off">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </td>
                          <td> 2300 </td>
                          <td> 22437 </td>
                        </tr>
                        <tr>
                          <td>
                            <img src="../../../assets/images/faces/face5.jpg" class="ml-2" alt="image"> اينا كاري </td>
                          <td>
                            <div class="d-flex">
                              <span class="pl-2 d-flex align-items-center">44%</span>
                              <select id="star-4" name="rating" autocomplete="off">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </td>
                          <td> 53462 </td>
                          <td> 1,75938 </td>
                        </tr>
                        <tr>
                          <td>
                            <img src="../../../assets/images/faces/face7.jpg" class="ml-2" alt="image"> ليدا فيتزجيرالد
                          </td>
                          <td>
                            <div class="d-flex">
                              <span class="pl-2 d-flex align-items-center">65%</span>
                              <select id="star-5" name="rating" autocomplete="off">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </td>
                          <td> 67453 </td>
                          <td> 765377 </td>
                        </tr>
                        <tr>
                          <td>
                            <img src="../../../assets/images/faces/face2.jpg" class="ml-2" alt="image"> ستيلا جونسون
                          </td>
                          <td>
                            <div class="d-flex">
                              <span class="pl-2 d-flex align-items-center">49%</span>
                              <select id="star-6" name="rating" autocomplete="off">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </td>
                          <td> 43662 </td>
                          <td> 96535 </td>
                        </tr>
                        <tr>
                          <td>
                            <img src="../../../assets/images/faces/face9.jpg" class="ml-2" alt="image"> ماريا أورتيز
                          </td>
                          <td>
                            <div class="d-flex">
                              <span class="pl-2 d-flex align-items-center">65%</span>
                              <select id="star-7" name="rating" autocomplete="off">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </td>
                          <td> 76555 </td>
                          <td> 258546 </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <a class="text-black font-13 d-block pt-2 pb-2 pb-lg-0 font-weight-bold pr-4" href="#">أظهر المزيد</a>
                </div>
              </div>
            </div>
          </div>
          <!-- doughnut chart row starts -->
          <div class="row">
            <div class="col-sm-12 stretch-card grid-margin">
              <div class="card">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card border-0">
                      <div class="card-body">
                        <div class="card-title"> جلسات القناة </div>
                        <div class="d-flex flex-wrap">
                          <div class="doughnut-wrapper w-50">
                            <canvas id="doughnutChart1" width="100%" height="100%"></canvas>
                          </div>
                          <div id="doughnut-chart-legend"
                            class="pr-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card border-0">
                      <div class="card-body">
                        <div class="card-title"> جلسات الأخبار </div>
                        <div class="d-flex flex-wrap">
                          <div class="doughnut-wrapper w-50">
                            <canvas id="doughnutChart2" width="100%" height="100%"></canvas>
                          </div>
                          <div id="doughnut-chart-legend2"
                            class="pr-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card border-0">
                      <div class="card-body">
                        <div class="card-title"> جلسات الجهاز </div>
                        <div class="d-flex flex-wrap">
                          <div class="doughnut-wrapper w-50">
                            <canvas id="doughnutChart3" width="100%" height="100%"></canvas>
                          </div>
                          <div id="doughnut-chart-legend3"
                            class="pr-3 rounded-legend align-self-center flex-grow legend-vertical legend-bottom-left">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- last row starts here -->
          <div class="row">
            <div class="col-sm-6 col-xl-4 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="card-title mb-2"> الأحداث القادمة (3) </div>
                  <h3 class="mb-3">23 سبتمبر 2019</h3>
                  <div class="d-flex border-bottom border-top py-3">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" checked></label>
                    </div>
                    <div class="pl-2">
                      <span class="font-12 text-muted">الثلاثاء 5 مارس ، الساعة 9.30 صباحًا</span>
                      <p class="m-0 text-black">مرحبًا ، أرفقت بعض ملفات PSD الجديدة ...</p>
                    </div>
                  </div>
                  <div class="d-flex border-bottom py-3">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"></label>
                    </div>
                    <div class="pl-2">
                      <span class="font-12 text-muted">الاثنين 11 مارس ، 4.30 م</span>
                      <p class="m-0 text-black">مناقشة الأداء مع المدير</p>
                    </div>
                  </div>
                  <div class="d-flex border-bottom py-3">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"></label>
                    </div>
                    <div class="pl-2">
                      <span class="font-12 text-muted">الثلاثاء 5 مارس ، الساعة 9.30 صباحًا</span>
                      <p class="m-0 text-black">لقاء مع أليسا </p>
                    </div>
                  </div>
                  <div class="d-flex pt-3">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"></label>
                    </div>
                    <div class="pl-2">
                      <span class="font-12 text-muted">الاثنين 11 مارس ، 4.30 م</span>
                      <p class="m-0 text-black">مرحبًا ، أرفقت بعض ملفات PSD الجديدة ...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex border-bottom mb-4 pb-2">
                    <div class="hexagon">
                      <div class="hex-mid hexagon-warning">
                        <i class="mdi mdi-clock-outline"></i>
                      </div>
                    </div>
                    <div class="pr-4">
                      <h4 class="font-weight-bold text-warning mb-0">12.45</h4>
                      <h6 class="text-muted">يرتب موعد للاجتماع </h6>
                    </div>
                  </div>
                  <div class="d-flex border-bottom mb-4 pb-2">
                    <div class="hexagon">
                      <div class="hex-mid hexagon-danger">
                        <i class="mdi mdi-account-outline"></i>
                      </div>
                    </div>
                    <div class="pr-4">
                      <h4 class="font-weight-bold text-danger mb-0">34568</h4>
                      <h6 class="text-muted">زيارات الملف الشخصي</h6>
                    </div>
                  </div>
                  <div class="d-flex border-bottom mb-4 pb-2">
                    <div class="hexagon">
                      <div class="hex-mid hexagon-success">
                        <i class="mdi mdi-laptop-chromebook"></i>
                      </div>
                    </div>
                    <div class="pr-4">
                      <h4 class="font-weight-bold text-success mb-0">33.50%</h4>
                      <h6 class="text-muted">معدل الارتداد</h6>
                    </div>
                  </div>
                  <div class="d-flex border-bottom mb-4 pb-2">
                    <div class="hexagon">
                      <div class="hex-mid hexagon-info">
                        <i class="mdi mdi-clock-outline"></i>
                      </div>
                    </div>
                    <div class="pr-4">
                      <h4 class="font-weight-bold text-info mb-0">12.45</h4>
                      <h6 class="text-muted">يرتب موعد للاجتماع</h6>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="hexagon">
                      <div class="hex-mid hexagon-primary">
                        <i class="mdi mdi-timer-sand"></i>
                      </div>
                    </div>
                    <div class="pr-4">
                      <h4 class="font-weight-bold text-primary mb-0">12.45</h4>
                      <h6 class="text-muted mb-0">استخدام المتصفح</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xl-4 stretch-card grid-margin">
              <div class="card color-card-wrapper">
                <div class="card-body">
                  <img class="img-fluid card-top-img w-100" src="../../../assets/images/dashboard/img_5.jpg" alt="">
                  <div class="d-flex flex-wrap justify-content-around color-card-outer">
                    <div class="col-6 p-0 mb-4">
                      <div class="color-card primary m-auto">
                        <i class="mdi mdi-clock-outline"></i>
                        <p class="font-weight-semibold mb-0">تم التوصيل</p>
                        <span class="small">15 حزم</span>
                      </div>
                    </div>
                    <div class="col-6 p-0 mb-4">
                      <div class="color-card bg-success  m-auto">
                        <i class="mdi mdi-tshirt-crew"></i>
                        <p class="font-weight-semibold mb-0">أمر</p>
                        <span class="small">72 مادة</span>
                      </div>
                    </div>
                    <div class="col-6 p-0">
                      <div class="color-card bg-info m-auto">
                        <i class="mdi mdi-trophy-outline"></i>
                        <p class="font-weight-semibold mb-0">وصل</p>
                        <span class="small">34 ترقية</span>
                      </div>
                    </div>
                    <div class="col-6 p-0">
                      <div class="color-card bg-danger m-auto">
                        <i class="mdi mdi-presentation"></i>
                        <p class="font-weight-semibold mb-0">ذكرت</p>
                        <span class="small">72 الدعم</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- footer starts here -->
        <footer class="footer">
          <div class="container">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">حقوق الطبع والنشر © 2019 <a
                  href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. كل الحقوق محفوظة.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">مصنوعة يدويا ومصنوعة من <i
                  class="mdi mdi-heart text-danger"></i></span>
            </div>
          </div>
        </footer>
        <!-- ends here -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../../assets/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
  <script src="../../../assets/vendors/chart.js/Chart.min.js"></script>
  <script src="../../../assets/vendors/flot/jquery.flot.js"></script>
  <script src="../../../assets/vendors/flot/jquery.flot.resize.js"></script>
  <script src="../../../assets/vendors/flot/jquery.flot.categories.js"></script>
  <script src="../../../assets/vendors/flot/jquery.flot.fillbetween.js"></script>
  <script src="../../../assets/vendors/flot/jquery.flot.stack.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../../assets/js/off-canvas.js"></script>
  <script src="../../../assets/js/hoverable-collapse.js"></script>
  <script src="../../../assets/js/misc.js"></script>
  <script src="../../../assets/js/settings.js"></script>
  <script src="../../../assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="../../../assets/js/dashboard.js"></script>
  <!-- End custom js for this page -->
</body>

</html>